<body>
	<footer class="footerStyle">
		<div class="footer-container">
			<div class="footer-content">
				<div class="row">
					<!-- Usefull link -->
					<div class="col-md-4 mb-md-0 mb-4 item-list">
						<h2 class="footer-heading">
							<i class="fa-solid fa-paperclip"></i>
							Usefull Link
						</h2>
						<ul class="list-unstyled">
							<li>
								<a href="index.php" class="py-1 d-block">
									<i class="fa-solid fa-chevron-right"></i>
									Home
								</a>
							</li>
							<li>
								<a href="about.php" class="py-1 d-block">
									<i class="fa-solid fa-chevron-right"></i>
									About
								</a>
							</li>
							<li>
								<a href="academic.php" class="py-1 d-block"
									><i class="fa-solid fa-chevron-right"></i>
									Acedemics
								</a>
							</li>
							<li>
								<a href="contact.php" class="py-1 d-block"
									><i class="fa-solid fa-chevron-right"></i>
									Contact Us</a
								>
							</li>
						</ul>
					</div>
					<!--  -->
					<div class="col-md-4 mb-md-0 mb-4 item-list">
						<h2 class="footer-heading">
							<i class="fa-solid fa-circle-info"></i>
							contact
						</h2>
						<ul class="list-unstyled">
							<li>
								<a href="#" class="py-1 d-block">
									<i class="fa-solid fa-phone"></i>
									+123 456 789
								</a>
							</li>
							<li>
								<a href="#" class="py-1 d-block">
									<i class="fa-solid fa-envelope"></i>
									contact.info@example.com
								</a>
							</li>
							<li>
								<a href="#" class="py-1 d-block">
									<i class="fa-solid fa-location-dot"></i>
									District 5, Ho Chi Minh City, VietNam
								</a>
							</li>
						</ul>
					</div>
					<!-- Social link -- display social icon list -->
					<div class="col-md-4 mb-md-0 mb-4 item-list">
						<h2 class="footer-heading">
							<i class="fa-solid fa-hashtag"></i>
							social
						</h2>
						<ul class="social-icons">
							<li>
								<a href="#" class="social-icon">
									<i class="fa-brands fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#" class="social-icon">
									<i class="fa-brands fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" class="social-icon">
									<i class="fa-brands fa-tiktok"></i>
								</a>
							</li>
							<li>
								<a href="#" class="social-icon">
									<i class="fa-brands fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#" class="social-icon">
									<i class="fa-brands fa-telegram"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="coppy-right-text">
			<p class="copyright">
				Copyright &copy;
				<script>
					document.write(new Date().getFullYear());
				</script>
				<a href="#Elearning.vn">E-learning.vn</a> | All rights reserved
			</p>
		</div>
	</footer>
</body>
