@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/* Reset CSS */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
* {
	color: #d9d9d9;
	font-family: "Poppins", sans-serif;
}
/* Common */
.clear {
	/* giải quyết vấn đề của float */
	clear: both;
}
/* use this class for text whitr */
.text-white {
	color: white !important;
}
.text-center {
	text-align: center !important;
}
.row {
	margin-left: -8px;
	margin-right: -8px;
}
.col {
	float: left;
	padding-left: 8px;
	padding-right: 8px;
}
.col-full {
	width: 100%;
}
.col-half {
	width: 50%;
}
.col-third {
	width: 33.33333%;
}

/* MAIN CONTENT START */
/* MAIN CONTENT END */